form#send_message_form {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    border-top: 1px solid black;
    margin-top: -1px;
    max-height: 100vh;
}
#message_log{
    padding-bottom: 3.5em;
    word-wrap: break-word;
}
body{
    margin: 0;
}
* {
    line-height: 1em;
    font-size: 10vmin;
}
input#sender{
    border: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* 100vw - (padding-left + padding-right + 0.1em) */
    width: calc(100vw - 1.1em);
}
#edit_tools, #send{
width: 1.5em; height: 1.5em; float:left;
}
#message_text{
    min-width: calc(100vw - 3em);
    min-height: 1.5em;
    float:left; width: calc(100vw - 3em); word-wrap: break-word;
}
.line{
	white-space: pre;
}
